* {
    background-color:
        #ECC8AE #E4E6C3 #BEB7A4 #D9C5B2 #7E7F83;
    color: #312721;
    color: #582B11;
    color: #E4E6C3;
    color: #38618C;
    color: #F2F7F2;
    color: black;
    color: #7E7F83;
    color: #39393A;
    color: #B26E63;
    font-family: didot;
}


body {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.contenedor {
    max-width: 100%;
    height: 120%;
    background-color: #f3f4e8;
    display: grid;
    justify-content: space-around;
    margin: 10px;
}


.sectionOne {
    background-color: #e6d4c4;
    display: flex;
    justify-content: left;
    width: 95%;
    height: 120%;
    margin: 10px;
}


.sectionTwo {
    display: flex;
    flex-direction: column;
    text-align: right;
    max-width: 100%;
    height: 100%;
    margin-right: 30px;
    margin-bottom: 100px;
}


.recipe {
    display: flex;
    flex-direction: column;
}


.recipe_img {
    width: 80%;
    height: auto;
    margin-left: 28px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 10px solid #f3f4e8;
    border-radius: 0.2em;
}


.about_img {
    width: 80%;
    height: auto;
    text-align: center;
    margin-left: 16px;
    margin-top: 5px;
    border: 20px solid  #f3f4e8;
    border-radius: 0.2em;
}


.about_p {
    color:#38618C;
}


img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


ul {
    margin-bottom: 10px;
    list-style-type: disc;
    font-weight: bold;
    line-height: 2;
    font-size: 18px;
}


p {
    width: 90%;
    margin: 20px;
    color: #7E7F83;
}


h1 {
    color: #B26E63;
    width: 100%;
    height: auto;
    text-align: right;
    margin-top: 5px;
    font-size: 50px;
}


h2 {
    text-align: left;
    margin-left: 30px;
    color: #38618C;
}


h3 {
    width: 90%;
    margin-left: 30px;
    margin-top: 10px;
    color:#f3f4e8;
}


a {
    text-decoration: none;
}


button {
    border-color: #B26E63;
}



@media only screen and (min-width: 700px) {
    .contenedor {
        max-width: 100%;
        height: 100%;
        background-color: #f3f4e8;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }


    .sectionOne {
        background-color: #e6d4c4;
        display: flex;
        justify-content: left;
        width: 100%;
        height: 95%;
        margin: 15px;
    }


    .sectionTwo {
        display: flex;
        flex-direction: column;
        text-align: right;
        max-width: 100%;
        height:90%;
        margin-right: 30px;
        margin-top: 20px;
    }

    .recipe_img {
        width: 80%;
        height: auto;
        margin-left: 26px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 20px solid  #f3f4e8;
        border-radius: 0.2em;
    }


    .about_img {
        width: 80%;
        height: auto;
        text-align: center;
        margin-left: 30px;
        margin-top: 5px;
        border: 20px solid  #f3f4e8;
        border-radius: 0.2em;
    }


    img {
        width: 80%;
        object-fit: cover;
    }

    p {
        width: 90%;
        margin-left: 30px;
        color: #7E7F83;
        margin-right: 30px;
    }


}

@media only screen and (min-width: 1200px) {

    body {
        width: 100%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contenedor {
        max-width: 100%;
        height: 100%;
        background-color: #f3f4e8;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }


    .sectionOne {
        background-color: #e6d4c4;
        display: flex;
        justify-content: left;
        width: 100%;
        height: 95%;
        margin: 15px;
    }

    .sectionTwo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: right;
        max-width: 100%;
        height: auto;
        margin-right: 30px;
        margin-top: 5px;
    }

    .recipe_img {
        width: 40%;
        height: auto;
        text-align: center;
        margin-left: 30px;
        margin-top: 5px;
        border: 20px solid  #f3f4e8;
        border-radius: 0.2em;
    }

    .about_img {
        width: 40%;
        height: auto;
        text-align: center;
        margin-left: 30px;
        margin-top: 5px;
        border: 20px solid  #f3f4e8;
        border-radius: 0.2em;
    }


    img {
        width: 90%;
        height: 700px;
        object-fit: cover;
    }


    ul {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 20px;
        list-style-type: disc;
        font-weight: bold;
        line-height: 2;
        font-size: 18px;
    }


    h1 {
        color: #B26E63;
        width: 100%;
        height: auto;
        text-align: right;
        margin-top: 20px;
    }


    h2 {
        text-align: left;
        margin-left: 30px;
        color:  #f3f4e8;
    }

    h3 {
        width: 90%;
        margin-left: 30px;
        margin-top: 10px;
        color:  #f3f4e8;
    }

    p {
        width: 90%;
        margin: 30px;
        color: #7E7F83;
    }

    a {
        text-decoration: none;
    }
}